<footer class="secondaryColor text-white">
    <div class="container">
      <div class="row p-1 g-4">
        <div class="col-md-6">
          <div class="loaction-info text-center">
            <h4 class="text-uppercase mb-3">location</h4>
            <h6>Minya,Egypt</h6>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="socialMedia text-center">
            <h4 class="text-uppercase mb-2">Social Profiles</h4>
            <ul class="icons d-flex justify-content-center gap-4 ps-0 pt-3">
              <li>
                <a href="https://github.com/mali84211" title="Github" target="_blank"
                  ><i class="fa-brands fa-github"></i
                ></a>
              </li>
              <li>
                <a href="https://accounts.google.com/SignOutOptions?hl=en&continue=https://mail.google.com/mail&service=mail&ec=GBRAFw" title="Gmail"
                target="_blank" ><i class="fa-brands fa-google"></i
                ></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/mohamed-ali-59a67514a" title="linkedin" target="_blank"
                  ><i class="fa-brands fa-linkedin-in"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights text-center p-3">
      <p class="mb-0">Designed by Mohamed Ali</p>
    </div>
  </footer>
