.item:hover .icon{
  background: #1c1c1c;
  color: #fff !important;
  }
  .nav-tabs{
  border: none;
  display: flex;
  justify-content: center;
  }
  .nav-tabs .nav-link{
  border: transparent;
    color: #222;
    font-weight: 700;
    font-size: 16px; 
  }
  .items .layer {
  position: absolute;
  top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgb(255, 255, 255);
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;
    transform: translateY(10px);
  }
  .items .layer:hover{
  opacity: 1;
  transform: translateY(0);
  }
  .middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
  }
  .middle h6 {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 10px;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .middle .icon i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
  }
  .middle .icon i:hover {
    background: transparent;
    color: #000;
  }
  h2{
    color: #ff0000;
    text-align: center;
    margin-top: 10%;
  }
  