<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="All" role="tabpanel" aria-labelledby="All-tab">
  <div class="container my-5">
    <h2>MY WORKS</h2>
  <div class="row g-5 m-5">
  <div class="col-lg-4">
  <div class="items position-relative">
  <img src="../../assets/img/Capture.PNG" class="w-100" alt="1">
  <div class="layer">
  <div class="middle text-center">
                    <h6 class="sm-titl">E-Commerce</h6>
                    <div class="icons">
                      <span class="icon">
                        <a href="https://fresh-cart-psi.vercel.app/" target="_blank">
                          <i class="fa-solid fa-link"></i>
                          
                        </a>
                      </span>

                      <span class="icon link">
                        <a href="../../assets/img/Capture.PNG">
                          <i class="fa-solid fa-magnifying-glass-plus"></i>
                        </a>
                      </span>
                    </div>
                  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-4">
    <div class="items position-relative">
    <img src="../../assets/img/11.PNG" class="w-100" alt="1">
    <div class="layer">
    <div class="middle text-center">
                      <h6 class="sm-titl">Meal Recipes</h6>
                      <div class="icons">
                        <span class="icon">
                          <a href="https://mali84211.github.io/Yummy/" target="_blank">
                            <i class="fa-solid fa-link"></i>
                            
                          </a>
                        </span>
  
                        <span class="icon link">
                          <a href="../../assets/img/11.PNG">
                            <i class="fa-solid fa-magnifying-glass-plus"></i>
                          </a>
                        </span>
                      </div>
                    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="items position-relative">
      <img src="../../assets/img/Capture1.PNG" class="w-100" alt="1">
      <div class="layer">
      <div class="middle text-center">
                        <h6 class="sm-titl">Weather Website</h6>
                        <div class="icons">
                          <span class="icon">
                            <a href="https://mali84211.github.io/Weather/" target="_blank">
                              <i class="fa-solid fa-link"></i>
                              
                            </a>
                          </span>
    
                          <span class="icon link">
                            <a href="../../assets/img/Capture1.PNG">
                              <i class="fa-solid fa-magnifying-glass-plus"></i>
                            </a>
                          </span>
                        </div>
                      </div>
      </div>
      </div>
      </div>
      <div class="col-lg-6">
        <div class="items position-relative">
        <img src="../../assets/img/Capture2.PNG" class="w-100" alt="1">
        <div class="layer">
        <div class="middle text-center">
                          <h6 class="sm-titl">Daneils Website</h6>
                          <div class="icons">
                            <span class="icon">
                              <a href="https://mali84211.github.io/Daniels/" target="_blank">
                                <i class="fa-solid fa-link"></i>
                                
                              </a>
                            </span>
      
                            <span class="icon link">
                              <a href="../../assets/img/Capture2.PNG">
                                <i class="fa-solid fa-magnifying-glass-plus"></i>
                              </a>
                            </span>
                          </div>
                        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-6">
          <div class="items position-relative">
          <img src="../../assets/img/Capture3.PNG" class="w-100" alt="1">
          <div class="layer">
          <div class="middle text-center">
                            <h6 class="sm-titl">Bookmark Website</h6>
                            <div class="icons">
                              <span class="icon">
                                <a href="https://mali84211.github.io/Bookmark/" target="_blank">
                                  <i class="fa-solid fa-link"></i>
                                  
                                </a>
                              </span>
        
                              <span class="icon link">
                                <a href="../../assets/img/Capture3.PNG">
                                  <i class="fa-solid fa-magnifying-glass-plus"></i>
                                </a>
                              </span>
                            </div>
                          </div>
          </div>
          </div>
          </div>    
  </div>
  </div>
  </div>
</div>