<section class="home mainContainer py-5 mainColor">
    <div class="container py-4 d-flex justify-content-center align-items-center">
      <div class="home-content text-center text-white">
        <img src="assets/img/10.jpg" class="mb-3" alt="mohamed ali" />
        <h2 class="text-uppercase mb-3 fs-2">Mohamed Ali</h2>
        <h3>I'm Junior Front End Developer</h3>
        <a href="https://mega.nz/file/tbgFGAQa#nzZMBUZ4HARoWLmCa-eC91bDOufQCGLu1r_8x9kheno" target="_blank">Download CV</a>
      </div>
    </div>
  </section>
